body {
    margin: 3em auto;
    max-width: 45em;
    line-height: 1.6;
    font-size: 1em;
    color: #333;
    background-color: #eee;
    padding: 0 0.8em;
}

.website_title {
    font-size: 2.5em;
    line-height: 1;
    text-align: center;
}

.navbar {
    text-align: center;    
    line-height: 1;
}

.navbar li {
    display: inline;
    padding: 0 0.5em;
}

.header {
    border-bottom: thin solid #700;
}

.title {
    font-size: 2em;
}

h1 {
    font-size: 1.7em;
    line-height: 1.2;
}

h2, h3 {
    line-height: 1.2;
}

a {
    color: #55f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #f55;
}

a:visited {
    color: #707;
}

code {
    padding: 0.3em 0.5em;
    background-color: #ccc;
}

.figure {
    border: thin solid #700;
    padding: 0.5em;
    display: block;
    background-color: #ccc;
    margin: 1em auto;
    width: 320px;
    text-align: center;
}

.caption {
    margin: 0.3em;
    text-align: center;
}

.figure img {
    max-width: 320px;
    max-height: 320px;
}
