body {
    font-family: monospace;
    color: #333;
    text-size-adjust: none;
}

@viewport {
  width: device-width;
  zoom: 1.0;
}

h1 {
    color: #000;
    font-size: 2em;
    font-weight: normal;
    margin: 0em;
    margin-bottom: 0.5em;
}

ul {
    padding-inline-start: 4ch;
    margin-top: 0em;
    margin-bottom 1em;
}

#content, #banner {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.entry-content p {
    padding-left: 2ch;
    margin: 0em;
    margin-bottom: 1em;
}

.entry-content h1 {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0em;
}

.entry-content h2 {
    color: #000;
    font-size: 1em;
    font-weight: bold;
    margin: 0em;
}

.entry-title, #menu h2 {
    color: #000;
    font-size: 1em;
    font-weight: bold;
    margin: 0em;
    text-transform: uppercase;
}

.hentry header, .hentry footer, .hentry time {
    display: inline-block;
    margin-bottom: 0;
}

.hentry .entry-content {
    padding-left: 2ch;
}

.read-more {
    display: inline-block;
    margin-left: 4ch;
    font-style: italic;
    margin-bottom: 1em;
}

#entry-title {
    display: inline-block;
}

.post-info {
    font-style: italic;
    margin-bottom: 2em;
}

a {
    color: #333;
    text-decoration: underline;
}

a:visited {
    color: #999;
}

#banner a, #banner a:visited {
    color: #000;
}

.entry-title a, #menu a {
    color: #000;
}

.entry-title a:visited, #menu a:visited {
    color: #666;
}

.paginator {
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
    vertical-align: top
}

#menu {
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
    vertical-align: top
}

#menu ul {
    padding-inline-start: 0;
    margin: 0;
}

#menu ul li {
    float: left;
    margin-left: 4ch;
}

.entry-content img, .entry-content iframe, .entry-content video {
  display: block;
  margin: 1em auto;
  max-width: 100%
}
